h1 {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center;

  /* #5F4A87 */

  color: #5F4A87;
}

h2 {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
  /* identical to box height, or 267% */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  /* #5F4A87 */

  color: #5F4A87;
}

h3 {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 48px;
  /* identical to box height, or 300% */

  display: flex;
  align-items: center;

  /* #5F4A87 */

  color: #5F4A87;
}

