.h1_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  color: #5F4A87;
}

.h2_text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
  /* identical to box height, or 267% */

  text-transform: uppercase;

  color: #5F4A87;
}

.h3_text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 48px;
  /* identical to box height, or 300% */

  /* #5F4A87 */

  color: #5F4A87;
}

